@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);
*, *:after, *:before {
  box-sizing: border-box;
}
html, body {
  background: linear-gradient(45deg, #1F2833, #1E4046);
  font-family: 'Roboto', sans-serif;
}
div :hover {
background: linear-gradient(65deg, #9A705C , #21474D);}
input:hover {
background: linear-gradient(65deg, #9A705C , #21474D);}
button:hover {
background: linear-gradient(65deg, #9A705C , #21474D);}
buttonac:hover {
background: linear-gradient(65deg, #9A705C , #21474D);}

.wrapper {
  width: 300px;
  margin: 8% auto;
  color: #C5C6C7;
}
.header {
position: absolute;
top: 10px;
  left: 37px;
font-size: 25px;
font-weight:bold;
  color: #FDDCCB;
}
.captcha{
float: left;
    width: 26%;
    height:7%;
  margin: 1.5% auto;
  color: #378A71;
  background: linear-gradient(45deg, #71EBC6, #D89497);
  border: 2px solid #C5C6C7;
  padding: 15px 15px;
  border-radius: 12px;
  font-size: 1.2em;
  cursor: pointer;
}
.select{
border-radius: 12px;
position: fixed;
      left: 38.5em;
      bottom: 40em;
color: #C5C6C7;
width: 300px;
margin: 8% 0% -1%;
font-size: 1em;
border: 2px solid #C5C6C7;
background-color: #1B3940;
}

.login {
font-weight:1200;
  color: #1a1f40;
  font-size: 1.5em;
}
.loginMessage {
float: left;
font-weight:2200;
  color: #f93535;
  font-size: 1.5em;
}
.sign-in {
  float: left;
  color: #1a1f40;
  font-size: 0.99em;
}

.button {
  float: right;
  margin: 1.5% auto;
  margin-right: 5px;
  color: #C5C6C7;
  background-color: #1F2833;
      border: 2px solid #C5C6C7;
  padding: 7px 15px;
  border-radius: 12px;
  font-size: 1em;
  cursor: pointer;
}

.buttonac{
 left: 20em;
 bottom: 20em;
  color: #C5C6C7;
  background-color: #1F2833;
      border: 2px solid #C5C6C7;
  padding: 7px 15px;
  border-radius: 12px;
  font-size: 1em;
}
.button1 {

position: static;
position: relative;
top: -0.2px;
   width: 5%;
  height: 5%;
  text-align: center;
  color: #C5C6C7;
  background-color: #1F2833;
  border: 2px solid #C5C6C7;
  padding: 7px 15px;
  border-radius: 12px;
  font-size: 1em;
  cursor: pointer;
}
A {
color:#C5C6C7;
    text-decoration: none;
   }
.lock {
  position: absolute;
  width: 30px;
  height: 30px;
  margin-top: 10px;
  padding: 7px;
  left: 5px;
}
.registration {
float: left;
font-weight:2200;
  color: #1a1f40;
  font-size: 1.5em;
}
span{
color: E72152;
}

input {
background-color: #1F2833;
color: C5C6C7;
  width: 100%;
  padding: 5px;
  height: 40px;
  border-radius: 12px;
  margin: 5px 0;
  outline: none;
}

input[type="text"]:focus, input[type="password"]:focus {
  text-align: left;
  border: 1px solid C5C6C7;
  box-shadow: none;
}

input[type="text"] {

  background: transparent;
  border: 2px solid #C5C6C7;
  padding-left: 10px;
  color: #C5C6C7;
}

input[type="password"] {

  background: transparent;
  border: 2px solid #C5C6C7;
  padding-left: 10px;
  color: #C5C6C7;
}
